@import url(https://fonts.googleapis.com/css?family=El+Messiri:regular,500,600,700);

.App {
}

.appWrapper {
    height: auto;
    font-family: "El Messiri";

    display: grid;
    grid-template-columns: 3fr 1.2fr;
    grid-template-rows: 1fr;
    @media (max-width: 2560px) {
        height: 100vh;
    }
    @media (max-width: 1300px) {
        display: block;
        height: auto;
    }
}
