.wrapper {
    z-index: 5;
    margin: 0 auto;
    font-size: 30px;
    margin-top: 15px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgba(255, 255, 255, 0.3);
}

.forecast {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
}
.forecastDay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    h2,
    p {
        margin: 5px;
    }
    img {
        max-width: 100%;
    }
}
.title {
    text-align: center;
    color: #fff;
}

@media (max-width: 1300px) {
    .forecast {
        grid-template-columns: 1fr;
    }
    .forecastDay {
        flex-direction: row;
        gap: 20px;
    }
    .title {
        padding-top: 2px;
    }
}
@media (max-width: 600px) {
    .forecast {
        font-size: 20px;
        grid-template-columns: 1fr;
    }
    .forecastDay {
        flex-direction: row;
        gap: 2px;
    }
}
